<div class="guess-row" style="display: flex;" *ngIf="guess">
    <div class="guess-box" [class.incorrect]="indexIsIncorrect(0)" [class.correct]="indexIsCorrect(0)"
        [class.out-of-order]="indexIsOutOfOrder(0)">{{guess.guess[0]}}</div>
    <div class="guess-box" [class.incorrect]="indexIsIncorrect(1)" [class.correct]="indexIsCorrect(1)"
        [class.out-of-order]="indexIsOutOfOrder(1)">{{guess.guess[1]}}</div>
    <div class="guess-box" [class.incorrect]="indexIsIncorrect(2)" [class.correct]="indexIsCorrect(2)"
        [class.out-of-order]="indexIsOutOfOrder(2)">{{guess.guess[2]}}</div>
    <div class="guess-box" [class.incorrect]="indexIsIncorrect(3)" [class.correct]="indexIsCorrect(3)"
        [class.out-of-order]="indexIsOutOfOrder(3)">{{guess.guess[3]}}</div>
    <div class="guess-box" [class.incorrect]="indexIsIncorrect(4)" [class.correct]="indexIsCorrect(4)"
        [class.out-of-order]="indexIsOutOfOrder(4)">{{guess.guess[4]}}</div>
</div>