.guess-row {
    display: flex;
}

.guess-box {
    height: 30px;
    width: 30px;
    margin: 3px;
    border: 2px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.correct {
    background-color: green;
    border-color: green;
}

.incorrect {
    background-color: gray;
    border-color: gray;
}

.out-of-order {
    background-color: goldenrod;
    border-color: goldenrod;
}
