.title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
    margin-right: 2px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.settings-overlay {
    background-color: white;
}

.overlay-text {
    max-width: 500px;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.letter-tally {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.letter {
    cursor: default;
    width: 30px;
    height: 45px;
    font-size: 15px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: lightgray;
}

.letter:hover {
    background-color: rgb(200, 200, 200);
}

.letter-other {
    width: 60px;
}

.letter-out {
    background-color: darkgray;
    color: lightgray;
    text-decoration: line-through;
}

.guess-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.streak {
    font-size: 24px;
    margin: 4px;
    margin-top: 10px;
}

.guess-average {
    font-size: 20px;
    color: gray;
    margin: 4px;
}
