<div class="guess-body" tabindex="0" (keyup)="onKeyPress($event)">
    <div style="display: flex; align-items: flex-start; border-bottom: 1px black solid;">
        <div class="title">
            My Simple Word Game
        </div>
        <button mat-icon-button (click)="toggleSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleInfo()">
            <mat-icon>info</mat-icon>
        </button>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div style="display: flex; flex-direction: column;">
            <app-guess-row *ngFor="let guess of guesses; index as i" [guess]="guesses[i]"></app-guess-row>
        </div>
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <div id="streak" class="streak">Streak: {{total.totalCorrect}}/{{total.grandTotal}}</div>
            <div id="guess-average" class="guess-average">Average guess count: {{getAverageGuessCount()}}</div>
        </div>
    </div>
    <div id="letter-tally" class="letter-tally">
        <div *ngFor="let letter of letters" class="letter" [class.letter-out]="letter.out"
            (click)="addLetter(letter.letter)">{{letter.letter}}</div>
        <button class="letter letter-other" mat-button style="margin: 5px;" (click)="submit()">
            <mat-icon>check</mat-icon>
        </button>
        <button class="letter letter-other" mat-button (click)="removeLetter()">
            <mat-icon>backspace</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="showInfo" class="overlay info-overlay" (click)="toggleInfo()">
    <div class="overlay-text">
        Welcome to my example of a word game, based on the popular daily word challenge, Wordle!
        <br />
        <br />
        The game itself is simple. You have 5 attempts to guess the word. With each submission you will be told whether
        a given letter is in the correct location (indicated in green), or exists in the word but in another location
        (yellow).
        <br />
        <br />
        <span style="font-size: 14px;color: lightgray;">If you have a key for the Wordnik API, then you can enter it
            into the textbox in the settings to enable the checking logic, which will check whether or not a word that
            you entered exists.</span>
    </div>
</div>

<div *ngIf="showSettings" class="overlay settings-overlay" (click)="toggleSettings()">
    <div style="display: flex; flex-direction: column;">
        <mat-form-field>
            <input matInput placeholder="Wordnik API Key" [(ngModel)]="wordnikApiKey"
                (keyup)="$event.stopPropagation()">
        </mat-form-field>
        <button mat-button style="margin: 5px;" (click)="reset()">Reset Streak</button>
    </div>
</div>