/* You can add global styles to this file, and also import other style files */
html {
    height: 100vh;
    width: 100vw;
    display: flex;
}

body {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.component-host {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
